.grid {
    width: 100%;
    border-collapse: collapse;
}

    .grid th {
        width: 20%;
        text-align: left;
    }

    .grid td {
        width: 20%;
        padding: 5px 0px 5px;
    }

    .grid th {
        width: 20%;
        padding: 5px 0px 5px;
    }

    .grid tr {
        border-bottom: 1px solid #E0E0EB;
    }

    .grid a {
        color: #0099FF;
        text-decoration: none;
        cursor: pointer;
    }

.text-yes {
    color: green;
}

.text-no {
    color: red;
}

.larger {
    font-size: 32px;
}

.field {
    margin: 15px 0px;
    text-align: right;
}

    .field img {
        width: 12px;
        margin-left: 5px;
    }

.container {
    display: inline-block;
}

.submision {
    text-align: center;
}

.container h2 {
    border-bottom: 1px solid #E0E0EB;
}
